@charset "UTF-8";

html {
    font-size: 100%;
}
body　{
    font-family:　"Yu Gothic Medium", "遊ゴシック Medium", YuGothic, "遊ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    margin: 0;
    padding: 0;
}
a　{
    text-decoration: none;
}
.wrapper {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    /*padding: 0 2%;*/
}


/*=============ハンバーガーメニュー======================*/
.nav {
    position: fixed;
    right: -320px; /* これで隠れる1000 */
    top: 0;
    width: 300px; /* スマホに収まるくらい */
    height: 100vh;
    padding-top: 40px;
    background-color: #fff;
    transition: all .6s;
    z-index: 200;
    overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}
.ham-menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px; /* クリックしやすいようにちゃんと幅を指定する */
    height: 40px; /* クリックしやすいようにちゃんと高さを指定する */
    cursor: pointer;
    z-index: 300;
    background-color: #fff;
    position: fixed; /*navのみ移動*/
}
.main-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-list {
    text-align: center;
    padding: 0 14px;
}
.main-list a {
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    color: #111;
}
.main-list a:hover {
    background-color: #eee;
}
.ham-line {
    position: absolute;
    left: 11px;
    width: 18px;
    height: 1px;
    background-color: #111;
    transition: all .6s;
}
.ham-line-1 {
    top: 14px;
}
.ham-line-2 {
    top: 20px;
}
.ham-line-3 {
    top: 26px;
}
.white-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    cursor: pointer;
}
/* 表示された時用のCSS */
.nav-open .nav {
    right: 0;
}
.nav-open .white-bg {
    opacity: .8;
    visibility: visible;
}
.nav-open .ham-line-1 {
    transform: rotate(45deg);
    top: 20px;
}
.nav-open .ham-line-2 {
    width: 0;
    left: 50%;
}
.nav-open .ham-line-3 {
    transform: rotate(-45deg);
    top: 20px;
}


/*------------------home----------------------------*/
h1 img {
    width: 60px;
    z-index: 300;
    margin-top: 14px;
    position: absolute;
    left: 0;
    top: 0;
}


/*===============背景動画================*/
#video-header　{
    position: relative;/*titleの中央寄せ配置の起点とするためのrelative*/
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: url(images/videoimg.jpg)no-repeat center center/cover;
    background-size: auto;
    background-position: center top;
    background-repeat: no-repeat;
}
#video {
    min-height: 100vh;
    width: 100%;
}

/*見出し設定*/
.header-title {
    /*要素の配置*/
    position:absolute;
    /*要素を天地中央寄せ*/
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    /*見た目の調整*/
    color: #fff;
    text-shadow: 0 0 15px #666;
    font-size: 2rem;
}
.title-line {
    display: none;  /*PCでは改行無効*/
}


/*------------------------#main----------------------*/
#main,
#type {
    background-color: #fff;
    min-height: 100vh;
}


/*====================スライドショー=================-*/
.slider {
    position: relative;
    height: 400px;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.slider-img {
    width: 80%;
    height: 400px;
    object-fit: cover;
}
.main-content img {
    margin: 0 auto;  /*スライドショーを真ん中に配置*/
}

/*-------矢印の設定--------*/
/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
    position: absolute;/*絶対配置にする*/
    z-index: 3;
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #ccc;/*矢印の色*/
    border-right: 2px solid #ccc;/*矢印の色*/
    height: 25px;
    width: 25px;
    margin-left: 10%;
    margin-right: 10%;
}
.slick-prev {/*戻る矢印の位置と形状*/
    left: 2.5%;
    transform: rotate(-135deg);
}
.slick-next {/*次へ矢印の位置と形状*/
    right: 2.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/
.slick-dots {
    position: relative;
    z-index: 3;
    text-align: center;
    margin: -50px 0 0 0;
}
.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}
.slick-dots button {
    color: transparent;
    outline: none;
    width: 8px;/*ドットボタンのサイズ*/
    height: 8px;/*ドットボタンのサイズ*/
    display: block;
    border-radius: 50%;
    background: #ccc;/*ドットボタンの色*/
    object-fit: contain;
}
.slick-dots .slick-active button {
    background: #333;/*ドットボタンの現在地表示の色*/
}

/*----------info---------------*/
.info {
    display: flex;
    gap: 10%;
    margin-top: 5%;
    justify-content: center;
}
.news {
    background-color: #eee;
    display: flex;
    width: 600px;
    height: 150px;
    gap: 5%;
}
.news-list {
    list-style-type: none;
    margin: 5% 5%;
}
.news-imp {
    color: red;
    margin: 12% 5%;
    font-weight: bold;
}
.news-list a {
    color: black;
}
.cp {
    overflow: scroll;
    width: 500px;
    height: 250px;
    line-height: 1.5;
    background-color: #eee;
    padding:  1% 1%;
}
.cp-pic {
    width: 30%;
    height: 30%;
}
.cp-title {
    font-size: 1.4rem;
    color: black;
    font-weight: bold;
    text-align: center;
}
.cp-item p {
    font-size: 0.8rem;
    color: black;
    float: right;
    margin-top: 10%;
    margin-right: 20%;
}
.cp-item {
    border-bottom: thin solid darkgray;
}


/*------------------------#type-----------------------*/
/*-------------lineup----------*/
/*tabの形状*/
.tab {
    display: flex;
    flex-wrap: wrap;
}
.tab li a {
    display: block;
    background: #ddd;
    margin: 0 2px;
    padding: 10px 20px;
}
/*liにactiveクラスがついた時の形状*/
.tab li.active a {
    background: #fff;
    outline: thin solid black;
}
/*エリアの表示非表示と形状*/
.area {
    display: none;/*はじめは非表示*/
    opacity: 0;/*透過0*/
    background: #fff;
    padding: 50px 20px;
}
/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
    display: block;/*表示*/
    animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
    outline: thin solid black;
}
@keyframes displayAnime {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
.tab,
.area ul {
    list-style: none;
}
.tab a {
    color: #333;
    text-decoration: none;
}
.lineup {
    width:100%;
    max-width: 960px;
    margin: 5% auto;
    background: #fefefe;
}
h4 {
    font-size: 1.3rem;
    margin: 0 0 20px 10px;
}
.area li {
    padding: 10px;
    display: inline;
    position: relative;
}
.area li:hover {
    opacity: 0.7;
}
.area img {
    width: 250px;
    height: auto;
}
.area-txt {
  color: black;
  font-size: 1.5rem;
  position: absolute;
  top: 95%;
  left: 50%;
  -ms-transform: translate(-50%,-95%);
  -webkit-transform: translate(-50%,-95%);
  transform: translate(-50%,-95%);
  margin: 0;
  padding: 0;
}
.title {
    font-size: 2em;
}


/*---------------support-------------*/
.grid {
    display: grid;
    gap: 5%;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    /*margin: 5%;*/
    justify-content: space-between;
}
.grid-item img {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
}
.grid-item {
    border: medium double #eee;
    width: 300px;
    height: 150px;
    position: relative;
}
.grid-item p {
    color: black;
    position: absolute;
    top: 95%;
    left: 50%;
    -ms-transform: translate(-50%,-95%);
    -webkit-transform: translate(-50%,-95%);
    transform: translate(-50%,-95%);
    margin: 0;
    padding: 0;
}
.grid-item:hover {
    transform: scale(0.9);/*拡大の値*/
    opacity: 0.7;/*透過具合*/
}


/*=============page top=========================*/
#page-top a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000033;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.6rem;
    transition: all 0.3s;
}
#page-top a:hover {
    background: #777;
}

/*リンクを右下に固定*/
#page-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 2;
   /*はじめは非表示*/
    opacity: 0;
    transform: translateY(100px);
}

/*　上に上がる動き　*/
#page-top.UpMove {
    animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
    transform: translateY(0);
    }
}

/*　下に下がる動き　*/
#page-top.DownMove {
    animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 1;
    transform: translateY(100px);
    }
}
/*---------------------footer-----------------------*/
#footer {
    position: relative;
    z-index: 300;
    text-align: center;
}
.footer-menu a {
    color: black;
}
.copyright {
    font-size: 0.2rem;
}

/*----------------対応----------------------------*/
@media screen and (max-width: 600px) {
  .title-line { /*改行*/
    display: block;
  }
  .slider {
    height: 50%;
  }
  .slider-img {
    width: 80%;
    height: 50%;
  }
  .info {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
  }
  .news {
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 100%;
    height: auto;
  }
  .news-imp {
    margin: 5% 5%;
    text-align: center;
  }
  .cp {
    width: 100%;
    margin-top: 10%;
  }
  .title {
    font-size: 1.5rem;
  }
  .tab {
    overflow: scroll;
    width: 100%;
    height: 50px;
  }
  .tab li a{
    white-space: nowrap;
  }
  #support {
    min-height:1250px;
  }
}/*media*/
